<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation=" http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="callsLogDao" class="by.stn.callslogproject.callslog.CallsLogDaoImpl">
        <property name="personsDao" ref="personsDao"/>
    </bean>
    <bean id="personsDao" class="by.stn.callslogproject.personsinfo.PersonsDaoImpl"></bean>
    <bean id="uiCreator" class="by.stn.callslogproject.ui.UICreator">
        <property name="callsLogDao" ref="callsLogDao"/>
    </bean>
    <!--<bean id="cl" class="by.stn.callslogproject.ui.CallsLogTableModel">
        <property name="callsLogDao" ref="callsLogDao"/>
    </bean>-->
</beans>